<div class="menu-item">
    <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Dropdowns</span>
    </div>
</div>


<!-- =========================
     DROPDOWN 1: Game World
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminGameWorld")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3" d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" fill="currentColor" />
                    <path d="M12 22C14.8 22 17 17.5 17 12C17 6.5 14.8 2 12 2C9.2 2 7 6.5 7 12C7 17.5 9.2 22 12 22Z" fill="currentColor" />
                    <path d="M2 12C2 11.4 2.4 11 3 11H21C21.6 11 22 11.4 22 12C22 12.6 21.6 13 21 13H3C2.4 13 2 12.6 2 12Z" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">Game World</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminGameWorld", "GameWorlds")" asp-controller="AdminGameWorld" asp-action="GameWorlds">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Game Worlds</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminGameWorld", "Seasons")" asp-controller="AdminGameWorld" asp-action="Seasons">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Seasons</span>
            </a>
        </div>

    </div>
</div>

<!-- =========================
     DROPDOWN 2: Identity
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminIdentity")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3" d="M12 2L4 5V11C4 16 7.3 20.4 12 22C16.7 20.4 20 16 20 11V5L12 2Z" fill="currentColor" />
                    <path d="M11.2 14.4L9 12.2C8.7 11.9 8.7 11.4 9 11.1C9.3 10.8 9.8 10.8 10.1 11.1L11.7 12.7L14.9 9.5C15.2 9.2 15.7 9.2 16 9.5C16.3 9.8 16.3 10.3 16 10.6L12.2 14.4C11.9 14.7 11.5 14.7 11.2 14.4Z" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">Identity</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">

        <!-- Users -->
        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminIdentity", "Users")" asp-controller="AdminIdentity" asp-action="Users">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Users</span>
            </a>
        </div>

        <!-- Roles -->
        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminIdentity", "Roles")" asp-controller="AdminIdentity" asp-action="Roles">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Roles</span>
            </a>
        </div>

        <!-- UserRoles -->
        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminIdentity", "UserRoles")" asp-controller="AdminIdentity" asp-action="UserRoles">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">User Roles</span>
            </a>
        </div>

    </div>
</div>

<!-- =========================
     DROPDOWN 3: Player Profile
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminPlayerProfile")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3" d="M22 7V17C22 19.2 20.2 21 18 21H6C3.8 21 2 19.2 2 17V7C2 4.8 3.8 3 6 3H18C20.2 3 22 4.8 22 7Z" fill="currentColor" />
                    <path d="M7 8.5C7 7.1 8.1 6 9.5 6C10.9 6 12 7.1 12 8.5C12 9.9 10.9 11 9.5 11C8.1 11 7 9.9 7 8.5Z" fill="currentColor" />
                    <path d="M6.5 16.5C6.5 14.6 8.1 13 10 13H11C12.9 13 14.5 14.6 14.5 16.5C14.5 16.8 14.3 17 14 17H7C6.7 17 6.5 16.8 6.5 16.5Z" fill="currentColor" />
                    <path opacity="0.3" d="M16 8H19V10H16V8ZM16 12H19V14H16V12Z" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">Player Profile</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">
        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminPlayerProfile", "Players")" asp-controller="AdminPlayerProfile" asp-action="Players">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Players</span>
            </a>
        </div>
    </div>
</div>

<!-- =========================
     DROPDOWN 4: Action
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminAction")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3" d="M13 2L3 14H11L9 22L21 9H13L13 2Z" fill="currentColor" />
                    <path d="M11 14H3L13 2V9H21L9 22L11 14Z" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">Action</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminAction", "ActionDefinitions")" asp-controller="AdminAction" asp-action="ActionDefinitions">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Action Definitions</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminAction", "ActionAttempts")" asp-controller="AdminAction" asp-action="ActionAttempts">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Action Attempts</span>
            </a>
        </div>

    </div>
</div>

<!-- =========================
     DROPDOWN 5: Economy
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminEconomy")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3" d="M12 22C6.48 22 2 19.31 2 16V8C2 4.69 6.48 2 12 2C17.52 2 22 4.69 22 8V16C22 19.31 17.52 22 12 22Z" fill="currentColor" />
                    <path d="M12 6C7.58 6 4 7.57 4 9.5C4 11.43 7.58 13 12 13C16.42 13 20 11.43 20 9.5C20 7.57 16.42 6 12 6Z" fill="currentColor" />
                    <path d="M12 14C7.58 14 4 12.43 4 10.5V12.5C4 14.43 7.58 16 12 16C16.42 16 20 14.43 20 12.5V10.5C20 12.43 16.42 14 12 14Z" fill="currentColor" />
                    <path d="M12 17C7.58 17 4 15.43 4 13.5V15.5C4 17.43 7.58 19 12 19C16.42 19 20 17.43 20 15.5V13.5C20 15.43 16.42 17 12 17Z" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">Economy</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminEconomy", "Wallets")" asp-controller="AdminEconomy" asp-action="Wallets">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Wallets</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminEconomy", "Transactions")" asp-controller="AdminEconomy" asp-action="Transactions">
                <span class="menu-bullet">
                    <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Transactions</span>
            </a>
        </div>

    </div>
</div>

<!-- =========================
     DROPDOWN 6: Inventory
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminInventory")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3" d="M7 7C7 5.34315 8.34315 4 10 4H14C15.6569 4 17 5.34315 17 7V8H7V7Z" fill="currentColor" />
                    <path d="M6 8H18C19.1046 8 20 8.89543 20 10V19C20 20.1046 19.1046 21 18 21H6C4.89543 21 4 20.1046 4 19V10C4 8.89543 4.89543 8 6 8Z" fill="currentColor" />
                    <path opacity="0.3" d="M9 12C9 11.4477 9.44772 11 10 11H14C14.5523 11 15 11.4477 15 12V13C15 13.5523 14.5523 14 14 14H10C9.44772 14 9 13.5523 9 13V12Z" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">Inventory</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">
        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminInventory", "Inventories")"
               asp-controller="AdminInventory"
               asp-action="Inventories">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Inventories</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminInventory", "Items")"
               asp-controller="AdminInventory"
               asp-action="Items">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Items</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminInventory", "PlayerInventoryItems")"
               asp-controller="AdminInventory"
               asp-action="PlayerInventoryItems">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Player Invntory Items</span>
            </a>
        </div>
    </div>
</div>

<!-- =========================
     DROPDOWN 7: Leadership
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminLeadership")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <!-- Chart area -->
                    <path opacity="0.3" d="M4 19C4 19.55 4.45 20 5 20H19C19.55 20 20 19.55 20 19V5C20 4.45 19.55 4 19 4H5C4.45 4 4 4.45 4 5V19Z" fill="currentColor" />
                    <!-- Rising arrow -->
                    <path d="M7 15.5C7 15.22 7.11 14.95 7.31 14.75L10.25 11.81L12.1 13.66C12.49 14.05 13.12 14.05 13.51 13.66L17.69 9.48V10.75C17.69 11.16 18.03 11.5 18.44 11.5C18.85 11.5 19.19 11.16 19.19 10.75V7.75C19.19 7.34 18.85 7 18.44 7H15.44C15.03 7 14.69 7.34 14.69 7.75C14.69 8.16 15.03 8.5 15.44 8.5H16.71L12.8 12.41L10.95 10.56C10.56 10.17 9.93 10.17 9.54 10.56L6.25 13.85C6.05 14.05 5.94 14.32 5.94 14.6C5.94 15.16 6.39 15.6 6.94 15.6C6.98 15.6 7 15.58 7 15.5Z" fill="currentColor" />
                    <!-- Falling arrow -->
                    <path opacity="0.6" d="M7.75 9.5C7.34 9.5 7 9.16 7 8.75V7.75C7 7.34 7.34 7 7.75 7H8.75C9.16 7 9.5 7.34 9.5 7.75C9.5 8.16 9.16 8.5 8.75 8.5H8.5V8.75C8.5 9.16 8.16 9.5 7.75 9.5Z" fill="currentColor" />
                    <path opacity="0.6" d="M16.25 17C15.84 17 15.5 16.66 15.5 16.25C15.5 15.98 15.62 15.73 15.81 15.56L16.06 15.31H15.75C15.34 15.31 15 14.97 15 14.56C15 14.15 15.34 13.81 15.75 13.81H18.25C18.66 13.81 19 14.15 19 14.56V17.06C19 17.47 18.66 17.81 18.25 17.81C17.84 17.81 17.5 17.47 17.5 17.06V16.75L17.01 17.24C16.87 17.38 16.67 17.46 16.47 17.46C16.41 17.46 16.33 17.45 16.25 17Z" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">Leadership</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminLeadership", "Leaderboards")"
               asp-controller="AdminLeadership" asp-action="Leaderboards">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Leaderboards</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminLeadership", "Entries")"
               asp-controller="AdminLeadership" asp-action="Entries">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Leaderboard Entries</span>
            </a>
        </div>

    </div>
</div>

<!-- =========================
     DROPDOWN 8: Notification
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminNotification")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3" d="M12 22C13.1046 22 14 21.1046 14 20H10C10 21.1046 10.8954 22 12 22Z" fill="currentColor" />
                    <path d="M18 16V11C18 8.23858 16.2091 6 13.5 6H10.5C7.79086 6 6 8.23858 6 11V16L4.8 17.2C4.4864 17.5136 4.70858 18 5.15 18H18.85C19.2914 18 19.5136 17.5136 19.2 17.2L18 16Z" fill="currentColor" />
                    <path opacity="0.3" d="M13.5 6C13.5 4.61929 12.3807 3.5 11 3.5C9.61929 3.5 8.5 4.61929 8.5 6H13.5Z" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">Notification</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">
        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminNotification", "Notifications")"
               asp-controller="AdminNotification" asp-action="Notifications">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Notifications</span>
            </a>
        </div>
    </div>
</div>

<!-- =========================
     DROPDOWN 9: Moderation
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminModeration")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3" d="M12 2L4 5V11C4 16 7.3 20.4 12 22C16.7 20.4 20 16 20 11V5L12 2Z" fill="currentColor" />
                    <path d="M12 13.5C10.6193 13.5 9.5 12.3807 9.5 11C9.5 9.61929 10.6193 8.5 12 8.5C13.3807 8.5 14.5 9.61929 14.5 11C14.5 12.3807 13.3807 13.5 12 13.5Z" fill="currentColor" />
                    <path d="M12 14.5C9.79086 14.5 8 16.2909 8 18.5C8 18.7761 8.22386 19 8.5 19H15.5C15.7761 19 16 18.7761 16 18.5C16 16.2909 14.2091 14.5 12 14.5Z" fill="currentColor" />
                </svg>
            </span>
        </span>
        <span class="menu-title">Moderation</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">
        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminModeration", "Reports")"
               asp-controller="AdminModeration" asp-action="Reports">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Reports</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminModeration", "ModerationActions")"
               asp-controller="AdminModeration" asp-action="ModerationActions">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Moderation Actions</span>
            </a>
        </div>
    </div>
</div>
<!-- =========================
     DROPDOWN 10: Oyun Yonetimi
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminEnergy", "AdminCooldown", "AdminActionLog", "AdminSaga", "AdminBoost")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M13 2L3 14h9l-1 8 10-12h-9l1-8z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </span>
        <span class="menu-title">Game Management</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminEnergy", "Index")" asp-controller="AdminEnergy" asp-action="Index">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Energy Status</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminCooldown", "Index")" asp-controller="AdminCooldown" asp-action="Index">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Cooldown Tracking</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminActionLog", "Index")" asp-controller="AdminActionLog" asp-action="Index">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Action Logs</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminSaga", "Index")" asp-controller="AdminSaga" asp-action="Index">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Saga State</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminBoost", "Index")" asp-controller="AdminBoost" asp-action="Index">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Boost Management</span>
            </a>
        </div>

    </div>
</div>

<!-- =========================
     DROPDOWN 11: Altyapi
========================= -->
<div data-kt-menu-trigger="click" class="menu-item menu-accordion @Html.IsMenuOpen("AdminHealth", "AdminGatewayLog")">
    <span class="menu-link">
        <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <polyline points="22 12 18 12 15 21 9 3 6 12 2 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </span>
        <span class="menu-title">Infrastructure</span>
        <span class="menu-arrow"></span>
    </span>

    <div class="menu-sub menu-sub-accordion menu-active-bg">

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminHealth", "Index")" asp-controller="AdminHealth" asp-action="Index">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Service Health</span>
            </a>
        </div>

        <div class="menu-item">
            <a class="menu-link @Html.IsActive("AdminGatewayLog", "Index")" asp-controller="AdminGatewayLog" asp-action="Index">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">Gateway Logs</span>
            </a>
        </div>

    </div>
</div>

